﻿@using EAI.Model.DTO
@using Telerik.Web.Mvc.UI
@using Website.Controllers
@{
    ViewBag.Title = "Index";

    var controller = (BaseController)ViewContext.Controller;
    
}

<h2>Bonus Request Lists</h2>
<div class="well">
@(Html.Telerik().Grid<BonusRequestInfo>()
                .Name("BonusRequestInfoGrid")
        .DataKeys(keys => 
        {
            keys.Add(p => p.ID);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("SelectEBonusRequests", "BonusAdjustments");
           
        })
        .Columns(columns =>
        {
            columns.Bound(p => p.ID).Hidden();
            columns.Bound(p => p.TransactionNo);
            columns.Bound(p => p.TransactionDate).Format("{0:d}");
            columns.Bound(p => p.EmployeeName);
            columns.Bound(p => p.BonusPointsRequested);
            
            columns.Command(commands => commands
                     .Custom("edit")
                     .Text("Edit").ButtonType(GridButtonType.ImageAndText)
                     .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                     .Action("edit-bonusadjustments", "EmployeeAppraisals"))
                 .HtmlAttributes(new { style = "text-align: center" })
                 .Width(150);
           
        })
        .Pageable()
        .Scrollable()
        .Sortable()        
)
</div>