﻿@model Website.ViewModels.BonusRequestPageViewModel
<div class="control-group">
        @Html.LabelFor(m => m.MaximumCashableBonusPoint, new { @class = "control-label" })
       <span class="controls">
            @Html.DisplayFor(m => m.MaximumCashableBonusPoint)
        </span>
    </div>
     <div class="control-group">
        @Html.LabelFor(m => m.BonusPointRequested, new { @class = "control-label" })
        @(Html.Telerik().NumericTextBoxFor(m => m.BonusPointRequested)
            .DecimalDigits(0)
            .HtmlAttributes(new { @class = "controls" })
            .MaxValue(Model.MaximumCashableBonusPoint)
            
        )
</div>