﻿@model Website.ViewModels.EmployeeBonusAdjustmentInputPageViewModel
           
 <div>
    <div class="control-group">
    @Html.LabelFor(m => m.SelectedEmployeeId, new { @class = "control-label" })
    @(Html.Telerik().DropDownListFor(m => m.SelectedEmployeeId)
                .BindTo(Model.Employees).HtmlAttributes(new { @class = "controls" })
                        .Placeholder("Select an Employee").ClientEvents(events => events.OnChange("SelectedEmployeeId_OnChange"))
    )
    </div>

    <div id="employeeinfo">
    @{Html.RenderAction("RenderEmployeeDisplayForm", "Employees", new { id = Model.SelectedEmployeeId });}
    </div>
   @* <div class="control-group">
        @Html.LabelFor(m => m.TransactionNo, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.TransactionNo, new { @class = "controls" })
    </div>*@
  
    <div class="control-group">
        @Html.LabelFor(m => m.TransactionDate, new { @class = "control-label" })
        @Html.Telerik().DatePickerFor(m => m.TransactionDate).HtmlAttributes(new { @class = "controls" })
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.TransactionDescription, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.TransactionDescription, new { @class = "controls" })
    </div>

    <div class="control-group">
        @Html.LabelFor(m => m.CreditDebitBonusPoint, new { @class = "control-label" })
        @Html.Telerik().NumericTextBoxFor(m => m.CreditDebitBonusPoint).DecimalDigits(0).HtmlAttributes(new { @class = "controls" })
    </div>
</div>

<script type="text/javascript">

    function SelectedEmployeeId_OnChange(e) {
        $.ajax({
            type: "POST",
            url: '@(Url.Action("RenderEmployeeDisplayForm","Employees"))',
            data: "id=" + e.value
        }).done(function (data) {
            $("#employeeinfo").html(data);
        });
    }
</script>