﻿@model Website.ViewModels.BonusRequestPageViewModel
@{
    ViewBag.Title = "CreateBonusRequest";
}

<h2>CreateBonusRequest</h2>


@using (Html.BeginForm("create-bonusrequest", "BonusAdjustments", FormMethod.Post, new { @class = "well form-horizontal", @id = "create-bonusrequest-form" }))
{
  @* @Html.ValidationSummary(false, new  { @class="alert alert-error" })*@
    <div id="error-container" class="control-group error alert alert-error" style="display:none"></div>
    
    
    
    Html.RenderAction("RenderEmployeeDisplayForm", "Employees", new { id = Model.EmployeeId });
     <div class="control-group">
        @Html.LabelFor(m => m.TransactionDate, new { @class = "control-label" })
        @(Html.Telerik().DatePickerFor(m => m.TransactionDate)
            .HtmlAttributes(new { @class = "controls" })
            .ClientEvents(events => events.OnChange("TransactionDate_OnChange"))
        )
    </div>
    
    <div id="bonuspointpanel">
        @Html.Partial("BonusPointRequest", Model)
    </div>
    
    <div class="form-actions">
   
     <button type="submit" class="btn btn-primary">Submit</button>
      <button type="button" class="btn" id="btnCancel">Cancel</button>
     </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").click(function () {
            var url = '@(Url.Action("Index","Home"))';
            window.location.href = url;
        });

        $("#create-bonusrequest-form").validate({
            errorLabelContainer: $("#error-container"),
            rules: {
                BonusPointRequested:{ required:true,min:1}
            },
            messages: {
                BonusPointRequested: { required: "BonusPointRequested is required", min: "BonusPointRequested must be greater than 0" }
            }
            ,
            errorClass: 'error',
            validClass: 'success',
            errorElement: 'span',
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                }
            }
        });
    });
    
    function TransactionDate_OnChange(e) {
        var url = '@(Url.Action("RenderMaxCashableLimit", "BonusAdjustments", new { id = Model.EmployeeId }))';


        $.ajax({
            type: "GET",
            url: url,
            data: "transdate=" + formatDate(e.value)
        }).done(function (data) {
            $("#bonuspointpanel").html(data);
            
        });
    }


    function formatDate(date) {
        //return $.telerik.formatString('{0:dd/MM/yyyy}', date);
        return $.telerik.formatString('{0:MM/dd/yyyy}', date);
    }

    function formatTime(date) {
        return $.telerik.formatString('{0:h:mm tt}', date);
    }

    function formatDateTime(date) {
        return $.telerik.formatString('{0:dd/MM/yyyy/h:mm tt}', date);
    }
</script>
