﻿@model  Website.ViewModels.EmployeeBonusAdjustmentInputPageViewModel
@{
    ViewBag.Title = "Edit BonusAdjustment";
}



<h2>Edit Bonus Adjustment</h2>
@using (Html.BeginForm("edit-bonusadjustment", "BonusAdjustments", FormMethod.Post, new { @id = "create-bonusadjustment-form",@class="well form-horizontal" }))
{
  @* @Html.ValidationSummary(false, new  { @class="alert alert-error" })*@
     <div id="error-container" class="control-group error alert alert-error" style="display:none"></div>
   @Html.HiddenFor(m => m.ID)
   @Html.Partial("BonusAdjustmentForm")
     <div class="form-actions">
     <button type="submit" class="btn btn-primary">Submit</button>
     <button type="button" class="btn" id="btnCancel">Cancel</button>
     </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").click(function () {
            var url = '@(Url.Action("Index"))';
            window.location.href = url;
        });
        $("#create-bonusadjustment-form").validate({
            errorLabelContainer: $("#error-container"),
            rules: {
                SelectedEmployeeId: "required",
                TransactionDate: "required"
            },
            messages: {
                SelectedEmployeeId: "Employee is required",
                TransactionDate: "Transaction Date is required"
            }
            ,
            errorClass: 'error',
            validClass: 'success',
            errorElement: 'span',
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                }
            }
        });
    });
</script>