﻿@using EAI.Model.DTO
@using Telerik.Web.Mvc.UI
@using Website.Controllers
@{
    ViewBag.Title = "Index";

    var controller = (BaseController)ViewContext.Controller;
    
}
@*
<a class="t-button t-button-icontext t-grid-add" href="@(Url.Action("create-bonusadjustment","BonusAdjustments"))">
<span class="t-icon t-add" style="margin-left:0"></span>Add new record</a>*@

<h2>Bonus Adjustment Lists</h2>
<div class="well">
@(Html.Telerik().Grid<EmployeeBonusInfo>()
            .Name("EmployeeBonusGrid")
                .ToolBar(commands => commands
                                    .Custom().Text("Add new record").Action("create-bonusadjustment", "BonusAdjustments").ButtonType(GridButtonType.ImageAndText)
                                    .ImageHtmlAttributes(new { @class="t-icon t-add"})
            )
        .DataKeys(keys =>
        {
            keys.Add(p => p.ID);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("SelectEmployeeBonus", "BonusAdjustments");

        })
        .Columns(columns =>
        {
            columns.Bound(p => p.ID).Hidden();
            columns.Bound(p => p.TransactionNo);
            columns.Bound(p => p.TransactionDate).Format("{0:d}");
            columns.Bound(p => p.EmployeeName);
            columns.Bound(p => p.BonusPoints);
            columns.Command(commands => commands
                     .Custom("edit")
                     .Text("Edit").ButtonType(GridButtonType.ImageAndText)
                     .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                     .Action("edit-bonusadjustment", "BonusAdjustments"))
                 .HtmlAttributes(new { style = "text-align: center" })
                 .Width(150);

        })
        .Pageable()
        .Scrollable()
        .Sortable()
)
</div>
