﻿@using EAI.Model.DTO
@using Telerik.Web.Mvc.UI
@model Website.ViewModels.MonthlyProcessingPageViewModel
@{
    ViewBag.Title = "MonthlyProcessing";
}

<h2>Monthly Processing</h2>

@using (Html.BeginForm("MonthlyProcessing", "BonusAdjustments", FormMethod.Post, new { @class="well form-horizontal" }))
{
    

    
@*<button type="button" class="btn" id="btnRefresh">Refresh</button>*@
<div>
@(Html.Telerik().DatePickerFor(m => m.ProcessDate).ClientEvents(events => events.OnChange("ProcessDate_OnChange"))
)
@(Html.Telerik().Grid<EmployeeAppraisalInfo>()
            .Name("MonthlyBonusGrid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.ID);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("SelectMonthlyProcessEmployees", "BonusAdjustments", new { dateTime = Model.ProcessDate.ToString("dd-MMM-yyyy") });

        })
                .ClientEvents(events => events.OnDataBinding("MonthlyBonusGrid_OnDataBinding"))
        .Columns(columns =>
        {
            columns.Bound(p => p.ID).Hidden();
            columns.Bound(p => p.EmployeeName);
            columns.Bound(p => p.Rating).Title("Last Appraisal Rating");
            columns.Bound(p => p.AppraisalDate).Title("Last Appraisal Date").Format("{0:d}");

        })
        .Pageable()
        .Scrollable()
        .Sortable()
)
</div>
    <div class="form-actions">
   
     <button type="submit" class="btn btn-primary">Submit</button>
     </div>

}



<script type="text/javascript">
    $("#btnRefresh").click(function () {
        var grid = $("#MonthlyBonusGrid").data("tGrid");

        grid.ajaxRequest();
    });

    function ProcessDate_OnChange(e) {
        var grid = $("#MonthlyBonusGrid").data("tGrid");

        grid.ajaxRequest();
    }

    function MonthlyBonusGrid_OnDataBinding(e) {
        var datepicker = $("#ProcessDate").data("tDatePicker");
        e.data = { dateTime: formatDate(datepicker.value()) };
    }

    function formatDate(date) {
        //return $.telerik.formatString('{0:dd/MM/yyyy}', date);
        return $.telerik.formatString('{0:dd-MMM-yyyy}', date);
    }
</script>
