﻿.logo
{
    background:#fff url('images/mcsb.JPG') no-repeat;
    height:80px;
}

.navbar-inner
{
    height:120px;
}



.error.help-inline
{
    display:block;
}


.form-horizontal .control-label
{
    width:200px;
}

.form-horizontal .controls {
margin-left: 80px;
}


.form-actions
{
    text-align:right;
    padding-right:160px;
}

.controls-xlarge
{
    width:270px;
}

.input-xlargest
{
    width:350px;
}

textarea.input-xlargest
{
    width:490px;
}

.t-disable{background-position:-16px -336px}
.t-enable{background-position:-32px -336px}