@model  EAI.Model.DTO.EmployeeAppraisalMailDTO
<div>
    <p>
        You have been notified for an action needed on Employee Appraisal. Visit this <a href="@(Model.Url)">link</a>.
    </p>
    <p>
        <label>Appraisal No.</label>
        @Html.DisplayFor(m=>m.AppraisalNo)
    </p>
    <p>
        <label>Employee Name</label>
        @Html.DisplayFor(m=>m.AppraisalEmployeeName)
    </p>
    
</div>