﻿@using Telerik.Web.Mvc.UI
@using EAI.Model.DTO
@{
    ViewBag.Title = "Index";
}
<h2>Department Lists</h2>
<div class="well">
@(Html.Telerik().Grid<DepartmentDetails>()
        .Name("DepartmentGrid")
        .DataKeys(keys => 
        {
            keys.Add(p => p.ID);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new {style="margin-left:0"}))
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("SelectIndex", "Departments")
                .Insert("InsertDepartment", "Departments")
                .Update("SaveDepartment", "Departments")
                .Delete("DeleteDepartment", "Departments");
        })
        .Columns(columns =>
        {
            columns.Bound(p => p.ID);
            columns.Bound(p => p.Name).Width(210);           
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.ImageAndText);
                commands.Delete().ButtonType(GridButtonType.ImageAndText);
            }).Width(180).Title("Commands");
        })
        .Editable(editing => editing.Mode(GridEditMode.PopUp))
             .Pageable(c => c.PageSize(15))
            .Scrollable(c => c.Height("450px"))
        .Sortable()        
)
</div>