﻿@model Website.ViewModels.EmployeeInputPageViewModel
@{
    ViewBag.Title = "Create";
}

<h2>New Employee</h2>

@using (Html.BeginForm("create-employee", "Employees", FormMethod.Post, new { @class = "form-horizontal",@id="create-employee-form"}))
{
    //@Html.ValidationSummary(false, new  { @class="alert alert-error" })
   <div id="error-container" class="control-group error alert alert-error" style="display:none"></div>
   @Html.Partial("EmployeeFields", Model) 
     <div class="form-actions">
     <button type="submit" class="btn btn-primary">Submit</button>
     <button type="button" class="btn" id="btnCancel">Cancel</button>
     </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").click(function () {
            var url = '@(Url.Action("Index"))';
            window.location.href = url;
        });


        $("#create-employee-form").validate({
            // errorLabelContainer: $(".validation-summary-errors"),
            errorLabelContainer: $("#error-container"),
            invalidHandler: function (form, validator) {
                $(validator.invalidElements()[0]).focus();
            },
            focusInvalid: false,
            rules: {
                Password: "required",
                UserName: "required",
                SelectedRole: "required",
                EmployeeNo: { required: true,
                    remote: {
                        url: '@(Url.Action("CheckDuplicateEmployeeNo","Employees"))',
                        type: "post",
                        data: {
                            empno: function () {
                                return $("#EmployeeNo").val();
                            }
                        }
                    }
                },
                EmployeeName: "required",
                Email: { required: true, email: true },
                SelectedPosition: "required",
                SelectedDepartment: "required",
                DateJoined: "required",
                Grade: "required",
                ConfirmPassword: { equalTo: "#Password" }
            },
            messages: {
                Password: "Password is required",
                UserName: "UserName is required",
                SelectedRole: "Role is required",
                EmployeeNo: { required: "EmployeeNo is required", remote: "Employee No already exist" },
                EmployeeName: "Employee Name is required",
                Email: { required: "Email is required", email: "Invalid Email" },
                SelectedPosition: "Position is required",
                SelectedDepartment: "Department is required",
                DateJoined: "Date Joined is required",
                Grade: "Grade is required",
                ConfirmPassword: "Password and Confirm Password should match"
            },
            errorClass: 'error',
            validClass: 'success',
            errorElement: 'span',
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                }
            }


        });
    });
</script>

