﻿@model Website.ViewModels.EmployeeDeletePageViewModel
@{
    ViewBag.Title = "Delete";
}
<h2>Confirm Delete</h2>
<div class="alert alert-error form-inline">
    <p>
        
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m=>m.Id)

            <label>Are you sure you want to Disable?</label>
            <button type="submit" class="btn">Yes</button>
            <button type="button" class="btn" id="btnNo">No</button>
        }
    </p>
</div>
<div class="well form-horizontal">
    @Html.HiddenFor(m => m.Id)
    <div class="control-group">
        @Html.LabelFor(m => m.EmployeeNo, new { @class = "control-label" })
        <span class="controls">
            @Html.DisplayFor(m => m.EmployeeNo)
        </span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.EmployeeName, new { @class = "control-label" })
        <span class="controls">
            @Html.DisplayFor(m=>m.EmployeeName)
        </span>
    </div>
    
</div>


<script type="text/javascript">
    $(function () {
        $("#btnNo").click(function () {
            var url = '@(Url.Action("Index"))';
            window.location.href = url;
        });
    });
</script>