﻿@using Website.Framework

@model Website.ViewModels.EmployeeInputPageViewModel
        @Html.HiddenFor(m=>m.ID)   
        @Html.HiddenFor(m=>m.UserId)   
            <fieldset>
        <legend>Account Information</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.UserName, new { @class="control-label"})
            @Html.TextBoxFor(m => m.UserName, new { @class="controls"})
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
            @Html.PasswordFor(m => m.Password, new { @class = "controls" })
            
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "controls" })
            
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Roles, new { @class = "control-label" })
            @(Html.Telerik().DropDownListFor(m => m.SelectedRole)
                    .HtmlAttributes(new { @class = "controls  controls-xlarge" })
                .BindTo(Model.Roles)
                .Placeholder("Select Roles")
            )
        </div>
        
    </fieldset>
    
    <fieldset>
        <legend>Employee Information</legend>
        <div class="control-group">
            @Html.LabelFor(m => m.EmployeeNo, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.EmployeeNo, new { @class = "controls" })
        </div>
       
        <div class="control-group">
            @Html.LabelFor(m => m.EmployeeName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.EmployeeName, new { @class = "controls input-xlargest" })
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "controls input-xlargest" })
        </div>
         <div class="control-group">
            @Html.LabelFor(m => m.Grade, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Grade, new { @class = "controls" })
         @*  @(Html.Telerik().DropDownListFor(m => m.Grade)
                .BindTo(Model.Grades).HtmlAttributes(new { @class = "controls" })
                .Placeholder("Select Grade")
            )*@
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.SelectedPosition, new { @class = "control-label" })
            @(Html.Telerik().DropDownListFor(m=>m.SelectedPosition)
                        .BindTo(Model.Positions).HtmlAttributes(new { @class = "controls  controls-xlarge" })
                .Placeholder("Select Position")
            )
        </div>
         <div class="control-group">
            @Html.LabelFor(m => m.SelectedDepartment, new { @class = "control-label" })
           @(Html.Telerik().DropDownListFor(m=>m.SelectedDepartment)
                        .BindTo(Model.Departments).HtmlAttributes(new { @class = "controls  controls-xlarge" })
             .Placeholder("Select Department")
            )
        </div>

         <div class="control-group">
            @Html.LabelFor(m => m.SelectedSupervisor, new { @class = "control-label" })
           @(Html.Telerik().DropDownListFor(m => m.SelectedSupervisor)
                .BindTo(Model.Supervisors).HtmlAttributes(new { @class="controls controls-xlarge"})
             .Placeholder("Select Immediate Supervisor")
            )
        </div>

         <div class="control-group">
            @Html.LabelFor(m => m.SelectedBusinessHead, new { @class = "control-label" })
            @(Html.Telerik().DropDownListFor(m => m.SelectedBusinessHead)
                        .BindTo(Model.BusinessHeads).HtmlAttributes(new { @class = "controls controls-xlarge" })
            .Placeholder("Select Business Unit Head")
            )
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.DateJoined, new { @class = "control-label" })
            @(Html.Telerik().DatePickerFor(m=>m.DateJoined).HtmlAttributes(new { @class="controls"}))
        </div>
         <div class="control-group">
            @Html.LabelFor(m => m.DateConfirmed, new { @class = "control-label" })
            @(Html.Telerik().DatePickerFor(m=>m.DateConfirmed).HtmlAttributes(new { @class="controls"}))
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.DateResigned, new { @class = "control-label" })
            @(Html.Telerik().DatePickerFor(m=>m.DateResigned).HtmlAttributes(new { @class="controls"}))
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.Remarks, new { @class = "control-label" })
            @Html.TextAreaFor(m=>m.Remarks,5,3, new { @class="controls input-xlargest"})
        </div>
    </fieldset>

