﻿@using EAI.Model.DTO
@model Website.ViewModels.EmployeeListInfoPageViewModel


@*<div class="control-group">
    @Html.LabelFor(m => m.Name, new { @class="control-label"})
   <span class="controls">
        @Html.DisplayFor(m => m.Name)
    </span>
</div>
*@
<div class="control-group">
    @Html.LabelFor(m => m.Position, new { @class="control-label"})
   <span class="controls">
        @Html.DisplayFor(m => m.Position)
    </span>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.Department, new { @class="control-label"})
   <span class="controls">
        @Html.DisplayFor(m => m.Department)
    </span>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.Grade, new { @class="control-label"})
   <span class="controls">
        @Html.DisplayFor(m => m.Grade)
    </span>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.DateJoined, new { @class="control-label"})
    <span class="controls">
        @Html.DisplayFor(m => m.DateJoined)
    </span>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.DateConfirmed, new { @class="control-label"})
    <span class="controls">
        @Html.DisplayFor(m => m.DateConfirmed)
    </span>
</div>

<div class="control-group">
    @Html.LabelFor(m => m.BonusPointBalance, new { @class="control-label"})
   <span class="controls">
        @Html.DisplayFor(m => m.BonusPointBalance)
    </span>
</div>