﻿@using EAI.Model.DTO
@using Telerik.Web.Mvc.UI
@model Website.ViewModels.EmployeeListPageViewModel

@{
    ViewBag.Title = "Index";
}

@*<a class="t-button t-button-icontext t-grid-add" href="@(Url.Action("create-employee","Employees"))">
<span class="t-icon t-add" style="margin-left:0"></span>Add new record</a>*@
<h2>Employee Lists</h2>
<div class="well">
@(Html.Telerik().Grid<EmployeeListInfo>()
        .Name("EmployeeGrid")
        .ToolBar(commands => {
            //commands
            //.Custom().Text("Add new record").Action("create-employee", "Employees").ButtonType(GridButtonType.ImageAndText)
            //    .ImageHtmlAttributes(new { @class = "t-icon t-add" });
            commands.Template(@<text><div class="form-inline">
            <a class="t-button t-button-icontext t-grid-add" href="@(Url.Action("create-employee","Employees"))">
<span class="t-icon t-add" style="margin-left:0"></span>Add new record</a>
    <label class="checkbox pull-right">
    <input type="checkbox" id="chkActive" title="Show only active" />
     Show only active
    </label>
    </div>
</text>);
        }
        )
        .DataKeys(keys => 
        {
            keys.Add(p => p.Id);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("SelectEmployees", "Employees")
               ;
                
           
        })
        .Columns(columns =>
        {
            columns.Bound(p => p.EmployeeNo);
            columns.Bound(p => p.Name);
            columns.Bound(p => p.Position);
            columns.Bound(p => p.Department);
            columns.Bound(p => p.DateJoined).Width(130).Format("{0:d}");
            columns.Bound(p => p.DateResigned).Width(130).Format("{0:d}");
            columns.Command(commands => 
                {
                    commands
                     .Custom("edit")
                     .Text("Edit").ButtonType(GridButtonType.ImageAndText)
                     .DataRouteValues(route => route.Add(o => o.Id).RouteKey("id"))
                     .Action("edit-employee", "Employees");

                    
                    commands
                    .Custom("delete")
                    .Text("Disable").ButtonType(GridButtonType.ImageAndText)
                    .DataRouteValues(route => route.Add(o => o.Id).RouteKey("id"))
                    .Action("delete-employee", "Employees")
                    ;

                    commands
                    .Custom("insert")
                    .Text("Enable").ButtonType(GridButtonType.ImageAndText)
                    .DataRouteValues(route => route.Add(o => o.Id).RouteKey("id"))
                    .Ajax(true)
                    .Action("EnableEmployee", "Employees")
                    ;

                    
                    
                   
                }).HtmlAttributes(new { style = "text-align: center" })
                 .Width(200);
           
        })
             .Pageable(c => c.PageSize(15))
            .Scrollable(c => c.Height("450px"))
                                .ClientEvents(events => events.OnComplete("onComplete").OnRowDataBound("onRowDataBound").OnDataBinding("OnDataBinding"))
        .Sortable()        
)
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#chkActive").click(function () {
            $("#EmployeeGrid").data('tGrid').ajaxRequest();
        });
    });
function onComplete(e) {
    if (e.name == "insert") {
        $("#EmployeeGrid").data('tGrid').ajaxRequest();
   }
}

function onRowDataBound(e) {
    if (!e.dataItem.IsActive) {
        $(e.row).find('.t-grid-delete').remove();
    }
    else {
        $(e.row).find('.t-grid-insert').remove();
    }
}

function OnDataBinding(e) {
    if ($("#chkActive").is(':checked')) {
        e.data = { active: true };
    }
    else
        e.data = { active: false };
}
</script>
