﻿@model EAI.Model.DTO.AppraisalItemDetails
           
<div>
<div class="control-group">
            @Html.LabelFor(m => m.Description, new { @class="control-label"})
            @Html.TextAreaFor(m => m.Description,5,3, new { @class="controls"})
</div>

<label class="checkbox">
     @Html.CheckBoxFor(m => m.IsActive, new { @class="controls"}) Active
  </label>
</div>
           
<div class="control-group">
            @Html.LabelFor(m => m.Rank, new { @class="control-label"})
            @Html.Telerik().NumericTextBoxFor(m=>m.Rank).DecimalDigits(0)
</div>

