﻿<ul class="nav pull-right">
@if(Request.IsAuthenticated) {
    <text>
    <li><a><span>Welcome @(User.Identity.Name)</span></a></li>
    <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li></text>
}
else {
    @:<li>@Html.ActionLink("Log On", "LogOn", "Account")</li>
}
</ul>