﻿@using Website.Controllers
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Employee Appraisal and Incentive System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="@(Url.Content("~/Content/bootstrap.css"))" rel="stylesheet">
    <style>
      body {
        padding-top: 130px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="@(Url.Content("~/Content/bootstrap-responsive.css"))" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
   @* <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">*@
    @{
        var basecontroller = this.ViewContext.Controller as BaseController;
    }
    @(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group
        .Add("telerik.examples.css")
        .Add("telerik.common.css")
                .Add("telerik." + basecontroller.Theme + ".css")
       .Add("telerik.rtl.css")
        .Combined(false).Compress(false))
        )  
    <link href="@(Url.Content("~/Content/custom.css"))" rel="stylesheet">
   @* <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>*@
   <script src="@Url.Content("~/Scripts/jquery1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    @RenderSection("Head",false) 
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          
          <a class="brand" href="#">Employee Appraisal and Incentive System</a>
          <div class="nav-collapse">
            <ul class="nav">
           @{
                    var action = ViewContext.RouteData.Values["action"].ToString();
                    var controller = ViewContext.RouteData.Values["controller"].ToString();
				}
                    <li @(action == "Index" && controller == "Home" ? "class=active": string.Empty)>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li @(action == "ChangePassword" && controller == "Account" ? "class=active" : string.Empty)>@Html.ActionLink("Change Password", "ChangePassword", "Account")</li>
                    
            </ul>
                 @Html.Partial("_LogOnPartial")
          </div><!--/.nav-collapse -->
          
        </div>

        <div class="logo">
            <div class="example @( "t-" + basecontroller.Theme)">
	    <h2 class="example-title"></h2>
	    <div id="theming">Select a theme<a href="#" class="t-drop-down">@(basecontroller.Theme)</a></div>
	    <script type="text/javascript">
	        
	        var currentComponent = 'Grid',
                themePreviewsLocation = '@(Url.Content("~/Content/images/Themes") )';
	    </script>
        </div>
        </div>
        
      
        
    </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
            <fieldset>
                <legend> Modules</legend>
                    <ul>
            @{
                
                if (User.IsInRole("Admin"))
                {
                
           
                    <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                    <li>@Html.ActionLink("Appraisals", "Index", "Appraisals")</li>
                    <li>@Html.ActionLink("Positions", "Index", "Positions")</li>
                    <li>@Html.ActionLink("Departments", "Index", "Departments")</li>
                    <li>@Html.ActionLink("Bonus Adjustments", "Index", "BonusAdjustments")</li>
                    <li>@Html.ActionLink("Bonus Request List", "BonusRequestList", "BonusAdjustments")</li>
                    <li>@Html.ActionLink("Monthly Processing", "MonthlyProcessing", "BonusAdjustments")</li>
                <li>@Html.ActionLink("Employee Appraisal", "Index", "EmployeeAppraisals")</li>
                  
                }
                }


                @{
                    if (User.IsInRole("Manager"))
                    {
                    
              
           
                    <li>@Html.ActionLink("Employee Appraisal", "Index", "EmployeeAppraisals")</li>
           
                  
                    }
                }

                @{
                    if (User.IsInRole("User"))
                    {
                    
               
           
                    <li>@Html.ActionLink("Create Bonus Request", "create-bonusrequest", "BonusAdjustments")</li>
                    <li>@Html.ActionLink("Employee Appraisal", "Index", "EmployeeAppraisals")</li>
           
                  
                    }
                }

                @{Html.RenderAction("RenderActionLink", "Home");}

                  </ul>
                </fieldset>


             @{
                 if (User.IsInRole("Admin") || User.IsInRole("HR"))
                 {
            <fieldset>
                <legend>Reports</legend>
                <ul>
                    <li>@Html.ActionLink("Quarterly Appraisal and Incentive Report", "QuarterlyAppraisal", "Reports")</li>
                    <li>@Html.ActionLink("Bonus Points Transaction/Adjustment Report", "BonusPointAdjustment", "Reports")</li>
                    <li>@Html.ActionLink("Bonus Points Cash-out Requisition Report", "BonusPointRequests", "Reports")</li>
                    <li>@Html.ActionLink("Bonus Points Status Report", "BonusPointStatus", "Reports")</li>
                    <li>@Html.ActionLink("Monthly Credit Bonus Points Processing Report", "MonthlyBonusPoint", "Reports")</li>
                </ul>
            </fieldset>
                 }}
            </div>
            <div class="span10">
            @RenderBody()
            </div>
       </div>

    </div> <!-- /container -->


    
     <script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.validate.min.js"))"></script>
<script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js"))"></script>
<script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js"))"></script>
<script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.validate.patch.js"))"></script>
 <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
     @(Html.Telerik().ScriptRegistrar().jQuery(false).jQueryValidation(false)
                     .DefaultGroup(group => group
                        .Add("telerik.examples.js")
                         .Compress(true))
    )
    
    @RenderSection("Footer",false)
  </body>
</html>
