﻿@using Telerik.Web.Mvc.UI

<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@(Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.vista.css").Add("telerik.rtl.css").Combined(false).Compress(false)))  

<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.validate.min.js"))"></script>
<script type="text/javascript" src="@(Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js"))"></script>