﻿@using Telerik.Web.Mvc.UI
@using EAI.Model.DTO
@{
    ViewBag.Title = "Index";
}

@section Head{
<style type="text/css">
    #AppraisalItem_1PopUp
    {
        width:400px;
    }
    
    #Description
    {
        width: 370px;
    }
</style>
}
<h2>Appraisal Item Lists</h2>
<div class="well">
@(Html.Telerik().Grid<AppraisalHeaderDetails>()
    .Name("AppraisalGrid")
        .DataKeys(keys =>
        {
            keys.Add(p => p.Id);
        })
        .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
    .Columns(columns =>
    {
        columns.Bound(e => e.Description);
        columns.Command(commands =>
        {
            commands.Edit().ButtonType(GridButtonType.ImageAndText);
            commands
                    .Custom("disable")
                    .Text("Disable").ButtonType(GridButtonType.ImageAndText)
                    .DataRouteValues(route => route.Add(o => o.Id).RouteKey("id"))
                    .Ajax(true)
                    .Action("EnableDisableHeader", "Appraisals")
                    ;

            commands
            .Custom("enable")
            .Text("Enable").ButtonType(GridButtonType.ImageAndText)
            .DataRouteValues(route => route.Add(o => o.Id).RouteKey("id"))
            .Ajax(true)
            .Action("EnableDisableHeader", "Appraisals")
            ;
        }).Width(210).Title("Commands");
        
    })
                .ClientEvents(events => events.OnRowDataBound("AppraisalGrid_onRowDataBound").OnComplete("AppraisalGridonComplete"))
    .DetailView(details => details.ClientTemplate(
            Html.Telerik().Grid<AppraisalItemDetails>()
            .Name("AppraisalItem_<#= Id #>")
            .DataKeys(keys =>
            {
            keys.Add(p => p.Id);
            })
            .ToolBar(commands => commands.Insert().ButtonType(GridButtonType.ImageAndText).ImageHtmlAttributes(new { style = "margin-left:0" }))
            .Columns(columns =>
            {
            columns.Bound(o => o.Description);
            columns.Command(commands =>
            {
                commands.Edit().ButtonType(GridButtonType.ImageAndText);
                commands
                    .Custom("disable")
                    .Text("Disable").ButtonType(GridButtonType.ImageAndText)
                    .DataRouteValues(route => route.Add(o => o.Id).RouteKey("id"))
                    .Ajax(true)
                    .Action("EnableDisableItem", "Appraisals")
                    ;

                commands
                .Custom("enable")
                .Text("Enable").ButtonType(GridButtonType.ImageAndText)
                .DataRouteValues(route => route.Add(o => o.Id).RouteKey("id"))
                .Ajax(true)
                .Action("EnableDisableItem", "Appraisals")
                ;
            }).Width(200).Title("Commands");   
            })
            
            .DataBinding(dataBinding => dataBinding.Ajax()
                .Select("_AppraisalItems", "Appraisals", new { id = "<#= Id #>" })
                .Insert("_AppraisalItemsInsert", "Appraisals", new { id = "<#= Id #>" })
                .Update("_AppraisalItemsUpdate", "Appraisals", new { id = "<#= Id #>" })
            )
            .Editable(editing => editing.Mode(GridEditMode.PopUp))
            .Pageable()
            .Sortable()
            .Filterable()
            .ClientEvents(events => events.OnComplete("AppraisalItem_onComplete").OnRowDataBound("onRowDataBound"))
            .ToHtmlString()
    ))
    .DataBinding(dataBinding => dataBinding.Ajax()
    .Select("_AppraisalHeaders", "Appraisals")
    .Insert("_AppraisalHeadersInsert", "Appraisals")
    .Update("_AppraisalHeadersUpdate", "Appraisals")
    )
    
    .Editable(editing => editing.Mode(GridEditMode.PopUp))
    .Pageable(paging => paging.PageSize(5))
    .Scrollable(scrolling => scrolling.Height(580))
    .Sortable()
)

</div>
<script type="text/javascript">

    function AppraisalGridonComplete(e) {
        if (e.name == "enable" || e.name == "disable") {
            $("#AppraisalGrid").data('tGrid').ajaxRequest();
        }
    }

    function AppraisalItem_onComplete(e) {
        if (e.name == "enable" || e.name == "disable") {
            $("#AppraisalGrid").data('tGrid').ajaxRequest();
        }
    }

    function onRowDataBound(e) {
        if (!e.dataItem.IsActive) {
            $(e.row).find('.t-grid-disable').remove();
        }
        else {
            $(e.row).find('.t-grid-enable').remove();
        }
    }
    
    function AppraisalGrid_onRowDataBound(e) {
        var grid = $(this).data('tGrid');
        grid.expandRow(e.row);
        if (!e.dataItem.IsActive) {
            $(e.row).find('.t-grid-disable').remove();
        }
        else {
            $(e.row).find('.t-grid-enable').remove();
        }
    }
</script>