﻿@using EAI.Model.DTO
@{
    ViewBag.Title = "BonusPointStatus";
}


@section Head{
<style type="text/css">
    .ui-datepicker-calendar {
    display: none;
    }​
</style>
 <link href="@(Url.Content("~/Content/themes/base/jquery.ui.all.css"))" rel="stylesheet">
}


@section Footer{
<script type="text/javascript" src="@(Url.Content("~/Scripts/jquery-ui-1.8.11.min.js"))"></script>
}

<h2>BonusPointStatus</h2>
@Html.Partial("ReportRangeDatePicker", new EAI.Model.DTO.ReportFilter { FromDate = DateTime.Now.Date, ToDate = DateTime.Now.Date })


<div>
@(Html.Telerik().Grid<RptBonusAdjustment>()
                .Name("RptBonusPointStatusGrid")
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("BonusPointStatusGrid", "Reports", new { fromDate = DateTime.Now.Date, toDate = DateTime.Now.Date });
           
        })
        .Columns(columns =>
        {
            
            columns.Bound(p => p.EmployeeNo);
            columns.Bound(p => p.EmployeeName);
            columns.Bound(p => p.TransactionNo);
            columns.Bound(p => p.TransactionDate).Width(130).Format("{0:d}");
            columns.Bound(p => p.CreditDebitPoints);
            columns.Bound(p => p.TransactionDescription);
            columns.Bound(p => p.BonusPointBalance);
                  
           
        })
                .ClientEvents(events => events.OnDataBinding("RptBonusPointStatusGrid_OnDataBinding"))
        .Pageable()
        .Scrollable()
        .Sortable()        
)
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("#RptBonusPointStatusGrid").data('tGrid').ajaxRequest();
        });
    });

    function RptBonusPointStatusGrid_OnDataBinding(e) {
        e.data = { fromDate: $("#FromDate").attr('value'), toDate: $("#ToDate").attr('value') }
        var url = '@(Url.Action("BonusPointStatus", "Reports"))';
        var href = url + "?fromDate=" + $("#FromDate").attr('value') + "&toDate=" + $("#ToDate").attr('value') + "&format=csv";
        $("#btnCSV").attr('href', href);
        var pdfhref = url + "?fromDate=" + $("#FromDate").attr('value') + "&toDate=" + $("#ToDate").attr('value') + "&format=pdf";
        $("#btnPDF").attr('href', pdfhref);
    }
</script>

