﻿@using EAI.Model.DTO
@{
    ViewBag.Title = "QuarterlyAppraisal";
}



@section Head{
<style type="text/css">
    .ui-datepicker-calendar {
    display: none;
    }​
</style>
 <link href="@(Url.Content("~/Content/themes/base/jquery.ui.all.css"))" rel="stylesheet">
}


@section Footer{
<script type="text/javascript" src="@(Url.Content("~/Scripts/jquery-ui-1.8.11.min.js"))"></script>
}

<h2>QuarterlyAppraisal</h2>
@Html.Partial("ReportRangeDatePicker", new EAI.Model.DTO.ReportFilter { FromDate = DateTime.Now.Date, ToDate = DateTime.Now.Date })


<div>
@(Html.Telerik().Grid<RptQuarterlyAppraisal>()
            .Name("RptQuarterlyAppraisalGrid")
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("QuarterlyAppraisalGrid", "Reports", new { fromDate = DateTime.Now.Date,toDate = DateTime.Now.Date });
           
        })
        .Columns(columns =>
        {
            
            columns.Bound(p => p.EmployeeNo);
            columns.Bound(p => p.EmployeeName);
            columns.Bound(p => p.Position);
            columns.Bound(p => p.Department);
            columns.Bound(p => p.DateJoined).Width(130).Format("{0:d}");
            columns.Bound(p => p.DateConfirmed).Width(130).Format("{0:d}");
            columns.Bound(p => p.OverallRating);
           
        })
                .ClientEvents(events => events.OnDataBinding("RptQuarterlyAppraisalGrid_OnDataBinding"))
        .Pageable()
        .Scrollable()
        .Sortable()        
)
</div>

<script type="text/javascript">
    $(function () {
        $("#btnSubmit").click(function () {
            $("#RptQuarterlyAppraisalGrid").data('tGrid').ajaxRequest();
        });
       
    });
    
    function RptQuarterlyAppraisalGrid_OnDataBinding(e) {
        e.data = { fromDate: $("#FromDate").attr('value'), toDate: $("#ToDate").attr('value') }
        var url = '@(Url.Action("QuarterlyAppraisal","Reports"))';
        var href = url + "?fromDate=" + $("#FromDate").attr('value') + "&toDate=" + $("#ToDate").attr('value') + "&format=csv";
        $("#btnCSV").attr('href', href);
        var pdfhref = url + "?fromDate=" + $("#FromDate").attr('value') + "&toDate=" + $("#ToDate").attr('value') + "&format=pdf";
        $("#btnPDF").attr('href', pdfhref);
    }
</script>