﻿@model EAI.Model.DTO.ReportFilter
           

<div class="well form-inline">

@Html.LabelFor(m=>m.FromDate)
@Html.TextBoxFor(m => m.FromDate, new { @class="date-picker"})
@*<input name="startDate" id="startDate" class="date-picker" />*@


@Html.LabelFor(m=>m.ToDate)
@Html.TextBoxFor(m => m.ToDate, new { @class="date-picker"})
<button type="button" id="btnSubmit" class="btn btn-primary">Submit</button>
<a href="#" id="btnCSV" class="btn">Export to CSV</a>
<a href="#" id="btnPDF" class="btn">Export to PDF</a>
</div>
<script type="text/javascript">
    $(function () {
        $('.date-picker').datepicker({
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function (dateText, inst) {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                $(this).datepicker('setDate', new Date(year, month, 1));
            }
        });

        $("#FromDate").datepicker('setDate', new Date(@(Model.FromDate.Year), @(Model.FromDate.Month - 1), 1));
        $("#ToDate").datepicker('setDate', new Date(@(Model.ToDate.Year), @(Model.ToDate.Month), 1));

        
    });
   
</script>