﻿@model Website.ViewModels.EmployeeAppraisalApprovalPageViewModel
@{
    ViewBag.Title = "ApproveAppraisal";
}


@using (Html.BeginForm("ApproveAppraisal", "EmployeeAppraisals", FormMethod.Post, new { @class="well form-horizontal"}))
{
    @Html.HiddenFor(m => m.Id)
    <fieldset>
    <legend>Employee Appraisal Information</legend>
    <div class="control-group">
        <label class="control-label">Appraisal No:</label>
        <span class="controls">@(Model.AppraisalNo)</span>
    </div>
    <div class="control-group">
        <label class="control-label">Employee Name:</label>
        <span class="controls">@(Model.EmployeeName)</span>
    </div>
     <div class="control-group">
        <label class="control-label">Status:</label>
        <span class="controls">@(Model.Status)</span>
    </div>
     <div class="control-group">
        @Html.LabelFor(m => m.Comment, new { @class = "control-label" })
        @Html.TextAreaFor(m => m.Comment, new { @class = "controls" })
     </div>
    </fieldset>
    <div class="form-actions">
         <button type="submit" class="btn btn-primary">Submit</button>
         <button type="button" class="btn" id="btnCancel">Cancel</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $("#btnCancel").click(function () {
            var url = '@(Url.Action("Index","Home"))';
            window.location.href = url;
        });
    });
</script>
