﻿@using Telerik.Web.Mvc.UI
@using EAI.Model
@using EAI.Model.DTO


@model Website.ViewModels.EmployeeAppraisalInputPageViewModel

<div>
    <div class="control-group">
    @Html.LabelFor(m => m.SelectedEmployeeId, new { @class = "control-label" })
    @(Html.Telerik().DropDownListFor(m => m.SelectedEmployeeId)
        .BindTo(Model.Employees).HtmlAttributes(new { @class = "controls" })
        .Placeholder("Select an Employee")
                        .ClientEvents(events => events.OnChange("SelectedEmployeeId_OnChange"))
    )
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Position, new { @class = "control-label" })
        <span id="Position" class="controls"></span>
    </div>
    <div class="control-group">
        @Html.LabelFor(m => m.Department, new { @class = "control-label" })
        <span id="Department" class="controls"></span>
    </div>
        <div class="control-group">
        @Html.LabelFor(m => m.AppraisalDate, new { @class = "control-label" })
        @Html.Telerik().DatePickerFor(m => m.AppraisalDate).HtmlAttributes(new { @class = "controls" })
    </div>

    <div class="control-group">
     @Html.LabelFor(m => m.OverallRating, new { @class = "control-label" })
        @Html.Telerik().NumericTextBoxFor(m => m.OverallRating).MinValue(1).MaxValue(4).HtmlAttributes(new { @class = "controls" }).DecimalDigits(0)
        </div>
</div>
@helper AppraisalItemViewTemplate(WebViewPage page, EmployeeAppraisalItemDetails o)
    {
    @(
 Html.Telerik().Grid(o.Items)
        .Name("Item_" + o.AppraisalId)
            .Columns(columns =>
            {
                columns.Bound(c => c.Description).Width(430);
                columns.Template(
                @<text>
           @* <input type="hidden" name="Dimensions.Index" value="@(o.AppraisalId)" />*@
            
            <input type="hidden" name="Dimensions[@(o.AppraisalId)].Items.Index" value="@(item.AppraisalId)" />
            <input name="Dimensions[@(o.AppraisalId)].Items[@(item.AppraisalId)].AppraisalId" type="hidden" value="@(item.AppraisalId)" />
            <input type="hidden" name="Dimensions[@(o.AppraisalId)].Items[@(item.AppraisalId)].ParentId" value="@(item.ParentId)" />
            <input type="radio" name="Dimensions[@(o.AppraisalId)].Items[@(item.AppraisalId)].Rating" value="1" @(item.Rating == 1 ? "checked" : string.Empty) />
            </text>
                ).Title("1");
                columns.Template(
                @<text>
            <input type="radio" name="Dimensions[@(o.AppraisalId)].Items[@(item.AppraisalId)].Rating" value="2" @(item.Rating == 2 ? "checked" : string.Empty) />
            </text>
                ).Title("2");
                columns.Template(
                @<text>
            <input type="radio" name="Dimensions[@(o.AppraisalId)].Items[@(item.AppraisalId)].Rating" value="3" @(item.Rating == 3 ? "checked" : string.Empty) />
            </text>
                ).Title("3");
                columns.Template(
                @<text>
            <input type="radio" name="Dimensions[@(o.AppraisalId)].Items[@(item.AppraisalId)].Rating" value="4" @(item.Rating == 4 ? "checked" : string.Empty) />
            </text>
                ).Title("4");
                columns.Template(
                @<text>
              
            <textarea cols="20" class="input-xlarge"  name="Dimensions[@(o.AppraisalId)].Items[@(item.AppraisalId)].Comments" rows="5">@item.Comments</textarea>
            </text>
                ).Title("Comments");
            })
    )
}
@(Html.Telerik().Grid(Model.Dimensions)
        .Name("AppraisalHeaderGrid")
        .Columns(columns =>
        {
            columns.Bound(c => c.Description).Width(440).Template(
                 @<text>
                   <input name="Dimensions[@(item.AppraisalId)].AppraisalId" type="hidden" value="@(item.AppraisalId)" />
                    <input type="hidden" name="Dimensions.Index" value="@(item.AppraisalId)" />
                    @(item.Description)
               </text>
                );
            @*columns.Template(
                @<text>
                   <input name="Dimensions[@(item.AppraisalId)].AppraisalId" type="hidden" value="@(item.AppraisalId)" />
                    <input type="hidden" name="Dimensions.Index" value="@(item.AppraisalId)" />
                    <input type="radio" name="Dimensions[@(item.AppraisalId)].Rating" value="1" @(item.Rating == 1 ? "checked" : string.Empty) />
               </text>
                ).Title("1");
            columns.Template(
            @<text>
                    <input type="radio" name="Dimensions[@(item.AppraisalId)].Rating" value="2" @(item.Rating == 2 ? "checked" : string.Empty) />
               </text>
            ).Title("2");
            columns.Template(
               @<text>
                    <input type="radio" name="Dimensions[@(item.AppraisalId)].Rating" value="3" @(item.Rating == 3 ? "checked" : string.Empty) />
               </text>
               ).Title("3");
            columns.Template(
            @<text>
                    <input type="radio" name="Dimensions[@(item.AppraisalId)].Rating" value="4" @(item.Rating == 4 ? "checked" : string.Empty) />
               </text>
           ).Title("4");
            columns.Template(
               @<text>
              
                 <textarea cols="20" class="input-xlarge"  name="Dimensions[@(item.AppraisalId)].Comments" rows="2">@item.Comments</textarea>
               </text>
               ).Title("Comments");*@
        })
        .Footer(false).RowAction(row =>
        {
            row.DetailRow.Expanded = true;
        })
        .DetailView(detailview => detailview.Template(o => AppraisalItemViewTemplate(this, o))
))


<script type="text/javascript">
    
    $(document).ready(function () {
        
       
           
       
        
    });

    function SelectedEmployeeId_OnChange(e) {
        $.ajax({
            type: "POST",
            url: '@(Url.Action("GetEmployeeById", "Employees"))',
            data: "id=" + e.value
        }).done(function (data) {
            if (data != "") {
                $("#Position").html(data.Position);
                $("#Department").html(data.Department);
            }
            else {
                $("#Position").html("");
                $("#Department").html("");
            }
        });
    }
    

</script>