﻿
@model  Website.ViewModels.EmployeeAppraisalInputPageViewModel
@{
    ViewBag.Title = "CreateAppraisal";
}

<h2>New Appraisal</h2>
@using (Html.BeginForm("create-appraisal", "EmployeeAppraisals", FormMethod.Post, new { @id = "create-appraisal-form",@class="well form-horizontal" }))
{
   @Html.ValidationSummary(true, "", new { @class = "alert alert-error" })
     <div id="error-container" class="control-group error alert alert-error" style="display:none"></div>
   @Html.Partial("AppraisalForm", Model)

    
    <div class="form-actions">
   
       @* @Html.LabelFor(m => m.OverallRating, new { @class = "control-label" })
        @Html.Telerik().NumericTextBoxFor(m => m.OverallRating).MinValue(1).MaxValue(4).HtmlAttributes(new { @class = "controls" }).DecimalDigits(0)*@
   
    <button type="submit" class="btn btn-primary">Submit</button>
     <button type="button" class="btn" id="btnCancel">Cancel</button>
    </div>
     
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnCancel").click(function () {
            var url = '@(Url.Action("Index"))';
            window.location.href = url;
        });


        $("#create-appraisal-form").validate({
            // errorLabelContainer: $(".validation-summary-errors"),
            errorLabelContainer: $("#error-container"),
            rules: {
                SelectedEmployeeId: "required",
                AppraisalDate: "required",
                OverallRating: "required"
            },
            messages: {
                SelectedEmployeeId: "Employee is required",
                AppraisalDate: "Appraisal Date is required",
                OverallRating: "Overall Rating is required"
            },
            errorClass: 'error',
            validClass: 'success',
            errorElement: 'span',
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                }
            }


        });
    });
</script>
