﻿
@model  Website.ViewModels.EmployeeAppraisalInputPageViewModel
@{
    ViewBag.Title = "Edit Appraisal";
}

<h2>Edit Appraisal</h2>

@using (Html.BeginForm("edit-appraisal", "EmployeeAppraisals", FormMethod.Post, new { @id = "edit-appraisal-form",@class="well form-horizontal" }))
{
  @* @Html.ValidationSummary(false, new  { @class="alert alert-error" })*@
     <div id="error-container" class="control-group error alert alert-error" style="display:none"></div>
   @Html.Partial("AppraisalForm", Model)
     <div class="well form-inline">
    <div class="span7 offset1">
      @*  @Html.LabelFor(m => m.OverallRating)
        @(Html.Telerik().NumericTextBoxFor(m => m.OverallRating)
        .MinValue(1).MaxValue(4)
        .DecimalDigits(0)
        //.HtmlAttributes(new { @class = "controls" })
        )*@
   
        <button type="submit" class="btn btn-primary" name="btnSubmit" value="Update">Update</button>

        @if (Model.Status == 0)
        {
    
        <button type="submit" class="btn btn-primary" name="btnSubmit" value="Acknowledge">Submit for Acknowledgement</button>
        }
         <button type="button" class="btn" id="btnCancel">Cancel</button>
     </div>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '@(Url.Action("GetEmployeeById", "Employees"))',
            data: "id=" + @(Model.SelectedEmployeeId)
        }).done(function (data) {
            if (data != "") {
                $("#Position").html(data.Position);
                $("#Department").html(data.Department);
            }
            else {
                $("#Position").html("");
                $("#Department").html("");
            }
        });


        $("#btnCancel").click(function () {
            var url = '@(Url.Action("Index"))';
            window.location.href = url;
        });


        $("#edit-appraisal-form").validate({
            // errorLabelContainer: $(".validation-summary-errors"),
            errorLabelContainer: $("#error-container"),
            rules: {
                SelectedEmployeeId: "required",
                AppraisalDate: "required",
                OverallRating: "required"
            },
            messages: {
                SelectedEmployeeId: "Employee is required",
                AppraisalDate: "Appraisal Date is required",
                OverallRating: "Overall Rating is required"
            },
            errorClass: 'error',
            validClass: 'success',
            errorElement: 'span',
            highlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(validClass).addClass(errorClass);
                }
            },
            unhighlight: function (element, errorClass, validClass) {
                if (element.type === 'radio') {
                    this.findByName(element.name).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                } else {
                    $(element).parent('div').parent('div').removeClass(errorClass).addClass(validClass);
                }
            }


        });
    });
</script>