﻿@using EAI.Model.DTO
@using Telerik.Web.Mvc.UI
@using Website.Controllers
@{
    ViewBag.Title = "Index";

    var controller = (BaseController)ViewContext.Controller;
    
}

@*<a class="t-button t-button-icontext t-grid-add" href="@(Url.Action("create-appraisal","EmployeeAppraisals"))">
<span class="t-icon t-add" style="margin-left:0"></span>Add new record</a>*@
<h2>Employee Appraisal Lists</h2>
<div class="well">
@(Html.Telerik().Grid<EmployeeAppraisalInfo>()
        .Name("EmployeeAppraisalGrid")
        .ToolBar(commands => commands
                            .Custom().Text("Add new record").Action("create-appraisal", "EmployeeAppraisals").ButtonType(GridButtonType.ImageAndText)
                        .ImageHtmlAttributes(new { @class = "t-icon t-add" }))
        .DataKeys(keys => 
        {
            keys.Add(p => p.ID);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("SelectEmployeeAppraisal", "EmployeeAppraisals", new { id = controller.UserId});
           
        })
        .Columns(columns =>
        {
            columns.Bound(p => p.ID);
            columns.Bound(p => p.EmployeeName);
            columns.Bound(p => p.Position);
            columns.Bound(p => p.Department);
            columns.Bound(p => p.AppraisalDate).Width(130).Format("{0:d}");
            columns.Command(commands => commands
                     .Custom("edit")
                     .Text("Edit").ButtonType(GridButtonType.ImageAndText)
                     .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                     .Action("edit-appraisal", "EmployeeAppraisals"))
                 .HtmlAttributes(new { style = "text-align: center" })
                 .Width(150);
           
        })
        .Pageable()
        .Scrollable()
        .Sortable()        
)
</div>
