
<h1>Welcome @ViewBag.Username !</h1>


<p>
    Your account has been created! You can logon at <a href="@Url.Abs(Url.Action("Index", "Home"))">@Url.Abs(Url.Action("Index", "Home"))</a>
    
</p>

<div>
    <div>Username: @ViewBag.Username</div>
    <div>Password: @ViewBag.Password</div>

</div>