﻿@using EAI.Model.DTO
@{
    ViewBag.Title = "Home Page";
}
<h2>Task Inbox</h2>
<div>
@(Html.Telerik().Grid<EmployeeAppraisalDetails>()
            .Name("EmployeeAppraisalDetailsGrid")
        .DataKeys(keys => 
        {
            keys.Add(p => p.ID);
        })
        .DataBinding(dataBinding =>
        {
            dataBinding.Ajax()
                .Select("GetEmployeeAppraisalNeedAction", "Home", new { id = ViewBag.UserId });
           
        })
        .Columns(columns =>
        {
            columns.Bound(p => p.TransactionNo);
            columns.Bound(p => p.EmployeeName);
            columns.Bound(p => p.OverallRating);
            columns.Bound(p => p.StatusName);
            columns.Bound(p => p.AppraisalDate).Width(130).Format("{0:d}");
            columns.Command(commands => commands
                     .Custom("edit")
                     .Text("Approve").ButtonType(GridButtonType.ImageAndText)
                     .DataRouteValues(route => route.Add(o => o.ID).RouteKey("id"))
                     .Action("ApproveAppraisal", "EmployeeAppraisals"))
                 .HtmlAttributes(new { style = "text-align: center" })
                 .Width(150);
           
        })
        .Pageable()
        .Scrollable()
        .Sortable()        
)
</div>



