﻿@model EAI.Model.DTO.EmployeeAppraisalItemDetails


<tr>
       <td>
            @Html.DisplayFor(model=>model.ItemInfo.Description)
            @Html.HiddenFor(model => model.AppraisalId)
            @Html.DisplayFor(model=>model.Description)
       </td>

       <td>
        <div class="editor-field">
            @* @(Html.Telerik().Slider<int>()
              .Name(ViewData.TemplateInfo.GetFullHtmlFieldName("Rating")).HtmlAttributes(new { @class="rating"})
              .Min(1)
              .Max(4)
              .ShowButtons(false)
              //.Value(Model.Rating)
        )*@
           <input type="radio" name="@(ViewData.TemplateInfo.GetFullHtmlFieldName("Rating"))" value="1" checked />
            <input type="radio" name="@(ViewData.TemplateInfo.GetFullHtmlFieldName("Rating"))" value="2"  />
             <input type="radio" name="@(ViewData.TemplateInfo.GetFullHtmlFieldName("Rating"))" value="3"  />
              <input type="radio" name="@(ViewData.TemplateInfo.GetFullHtmlFieldName("Rating"))" value="4"  />
        </div>
        </td>

        
        <td>
            <div class="editor-field">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments)
            </div>
        </td>
 </tr>
